<!-- Footer -->
<footer class="bg-dark text-center text-white mt-4">
  <!-- Grid container -->
  <article class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.facebook.com/"
        target="_blank"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://twitter.com/"
        target="_blank"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.google.com.co/"
        target="_blank"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.instagram.com/"
        target="_blank"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://co.linkedin.com/"
        target="_blank"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://github.com/"
        target="_blank"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
    <!-- Section: Form -->
    <!-- Section: Form -->
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <article class="row d-flex justify-content-center">
        <!--Grid column-->
        <section class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Home</a>
            </li>
          </ul>
        </section>
        <!--Grid column-->

        <!--Grid column-->
        <section class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Characters</a>
            </li>
          </ul>
        </section>
        <!--Grid column-->

        <!--Grid column-->
        <section class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">About us</a>
            </li>
          </ul>
        </section>
        <!--Grid column-->
        <!--Grid column-->
      </article>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </article>
  <!-- Grid container -->

  <!-- Copyright -->
  <article class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">Jorge Hernandez</a>
  </article>
  <!-- Copyright -->
</footer>
<!-- Footer -->
