<section class="gallery d-flex justify-content-center">
  <h2>Characters of History</h2>
</section>

<section class="album py-5 bg-light">
  <article class="container">
    <section class="row">
      <article class="col-md-4">
        <section class="card mb-4 shadow-sm">
          <img
            class="card-img-top"
            src="assets/images/1.jpg"
            width="348px"
            height="225"
            alt="Nikola Tesla"
          />
          <article class="card-body" style="height: 250px">
            <p class="card-text text-justify">
              Nikola Tesla fue un inventor, ingeniero eléctrico y mecánico
              serbocroata nacionalizado estadounidense.​​​ Se le conoce sobre
              todo por sus numerosas invenciones en el campo del
              electromagnetismo, desarrolladas a finales del siglo XIX y
              principios del siglo XX
            </p>
            <section class="d-flex justify-content-between align-items-center">
              <article class="btn-group"></article>
              <small class="text-muted">Nikola Tesla</small>
            </section>
          </article>
        </section>
      </article>

      <article class="col-md-4">
        <section class="card mb-4 shadow-sm">
          <img
            class="card-img-top"
            src="assets/images/einstein.png"
            width="348px"
            height="225"
            alt="Albert Einstein"
          />
          <article class="card-body" style="height: 250px">
            <p class="card-text text-justify">
              Albert Einstein fue un físico alemán de origen judío,
              nacionalizado después suizo, austriaco y estadounidense. Se le
              considera el científico más importante, conocido y popular del
              siglo XX.​​
            </p>
            <section class="d-flex justify-content-between align-items-center">
              <article class="btn-group"></article>
              <small class="text-muted">Albert Einstein</small>
            </section>
          </article>
        </section>
      </article>

      <article class="col-md-4">
        <section class="card mb-4 shadow-sm">
          <img
            class="card-img-top"
            src="assets/images/frida.jpg"
            width="348px"
            height="225"
            alt="Frida"
          />
          <article class="card-body" style="height: 250px">
            <p class="card-text">
              Magdalena Carmen Frida Kahlo Calderón fue una pintora mexicana.​
              Su vida estuvo marcada por el infortunio de sufrir un grave
              accidente en su juventud que la mantuvo postrada en cama durante
              largos periodos, llegando a someterse hasta a 32 operaciones
              quirúrgicas.​ Llevó una vida poco convencional.​
            </p>
            <section class="d-flex justify-content-between align-items-center">
              <article class="btn-group"></article>
              <small class="text-muted">Frida Kahlo</small>
            </section>
          </article>
        </section>
      </article>

      <article class="col-md-4">
        <section class="card mb-4 shadow-sm">
          <img
            class="card-img-top"
            src="assets/images/hitler.jpg"
            width="348px"
            height="225"
            alt="Hitler"
          />
          <article class="card-body" style="height: 250px">
            <p class="card-text">
              Adolf Hitler, llamado también Adolfo Hitler​ en algunos países
              hispanos, fue un político, militar y dictador alemán de origen
              austrohúngaro
            </p>
            <section class="d-flex justify-content-between align-items-center">
              <article class="btn-group"></article>
              <small class="text-muted">Adolf Hitler</small>
            </section>
          </article>
        </section>
      </article>
    </section>
  </article>
</section>
