<section class="gallery">
  <h2>Gallery</h2>
</section>
<section id="gallery" class="card flex-row d-flex justify-content-sm-start ml-3 " style="width: 400px">
  <article>
    <section class="card-img-top">
      <img src="assets/images/1.jpg" alt="400px" width="398px" />
    </section>
    <section class="card-body text-center">
      <span class="card-text">
        Nikola Tesla fue un inventor, ingeniero eléctrico y mecánico serbocroata
        nacionalizado estadounidense.​​​ Se le conoce sobre todo por sus
        numerosas invenciones en el campo del electromagnetismo, desarrolladas a
        finales del siglo XIX y principios del siglo XX
      </span>
    </section>
  </article>
  <article>
    <section class="card-img-top">
      <img src="assets/images/1.jpg" alt="1.jpg" width="398px" height="100px"  />
    </section>
    <section class="card-body text-center">
      <span class="card-text">
        Nikola Tesla fue un inventor, ingeniero eléctrico y mecánico serbocroata
        nacionalizado estadounidense.​​​ Se le conoce sobre todo por sus
        numerosas invenciones en el campo del electromagnetismo, desarrolladas a
        finales del siglo XIX y principios del siglo XX
      </span>
    </section>
  </article>
  <article>
    <section class="card-img-top">
      <img src="assets/images/1.jpg" alt="400px" width="398px" />
    </section>
    <section class="card-body text-center">
      <span class="card-text">
        Nikola Tesla fue un inventor, ingeniero eléctrico y mecánico serbocroata
        nacionalizado estadounidense.​​​ Se le conoce sobre todo por sus
        numerosas invenciones en el campo del electromagnetismo, desarrolladas a
        finales del siglo XIX y principios del siglo XX
      </span>
    </section>
  </article>
  <!-- flex-row d-flex justify-content-sm-start  -->
  <!-- flex-row ml-2 -->
</section>
