<app-menu-login></app-menu-login>
<section class="container pt-5">
  <article class="card text-center">
    <section class="card-header">
      Bienvenido
    </section>
    <section class="card-body">
      <h5 class="card-title">Te damos la bienvenida</h5>
      <p class="card-text"> Hola {{userInfo.email}} Esperamos que disfrutes la visita a nuestro sitio web.</p>
    </section>
    <section class="card-footer text-muted">
      Enjoy!
    </section>
  </article> 
</section>
<section class="testFooter">
  <app-footer></app-footer>
</section>
